<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--VNPAY SETTINGS-->
    <add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
    <add key="querydr" value="http://sandbox.vnpayment.vn/merchant_webapi/merchant.html"/>
    <add key="vnp_TmnCode" value="CDO956A3" />
    <add key="vnp_HashSecret" value="NQTFBWAZKRDGVLWINMZMSZERJXSNILWS" />
    <add key="vnp_Returnurl" value="http://localhost:63702/api/VNPay/vnpayreturn"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.27.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <connectionStrings>
    <add name="QL_KHOAHOCEntities" connectionString="metadata=res://*/EF.QLKhoaHocDataModel.csdl|res://*/EF.QLKhoaHocDataModel.ssdl|res://*/EF.QLKhoaHocDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GNVB183;initial catalog=QL_KHOAHOC;persist security info=True;user id=sa;password=sa2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>